/*

gold: #f0a500; rgba(240, 165, 0, 0.75);
charcoal: #36494e;
xiketic: #170f11;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Playfair+Display:ital,wght@0,400;0,900;1,900&display=swap');

font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;

*/

body {
  background: #141414;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.postbody {
  width: 796.88px;
  margin: 25px auto 0;
}

/* CONTAINER */

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  background-image: linear-gradient(
      to bottom,
      rgba(14, 14, 14, 0.99),
      rgba(14, 14, 14, 0.99)
    ),
    url('img/emily6.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

/* FRONT */

.front {
  width: 600px;
  height: 400px;
}

/* NAME */

.front > .name {
  width: 600px;
  height: 65px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  color: #ffffff;
  font-size: 65px;
  line-height: 65px;
  letter-spacing: -5px;
  padding: 30px 0 0 0;
  position: relative;
}

.front > .name::first-letter {
  color: #f0a500;
}

/* PROFESSION */

.front > .profession {
  width: 600px;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.front > .profession > i {
  color: #f0a500;
}

/* IMAGE */

.front > .img-container {
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  overflow: hidden;
  margin: 70px auto;
  outline: 1px solid #ffffff;
  outline-offset: 5px;
  transition: all ease-in-out 0.5s;
}

.front > .img-container > .img {
  width: 215px;
  height: 215px;
  background: url('img/emily3.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
  box-shadow: inset 0 0 0 395px rgba(240, 165, 0, 0.75);
  transform: rotate(-45deg);
  position: absolute;
  z-index: 100;
  top: -35px;
  left: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMAGE BUTTON */

.front > .img-container > .img > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  outline: 1px solid #ffffff;
  outline-offset: 5px;
  color: #ffffff;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(45deg);
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.front > .img-container > .img > .icon > span {
  transform: rotate(-45deg);
  transition: inherit;
}

/* IMG-CONTAINER TRANSITIONS */

.front > .img-container:hover .icon {
  width: 215px;
  height: 215px;
}

/* CONTENT */

.content {
  width: 600px;
  height: 400px;
  background: rgba(16, 16, 16, 0.99);
  position: relative;
  top: 0;
  left: 0;
  transition: all ease-in-out 1s;
}

.content.active {
  transition: all ease-in-out 0.5s;
  top: -400px;
}

/* CLOSE BUTTON */

.content > .icon {
  color: #ffffff;
  width: 15px;
  height: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.01);
}

.content.active > .icon {
  opacity: 1;
  visibility: visible;
  transition: all ease-in-out 0.25s 0.5s;
}

/* MAIN */

.content > .main {
  background: #170f11;
  width: 200px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  left: -200px;
  transition: all ease-in-out 0.25s 0s;
}

.content > .main > .field {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content > .main > .field:last-child {
  border-bottom: none;
}

.content > .main > .field > .title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 25px;
  font-style: italic;
  color: #ffffff;
  letter-spacing: -3px;
}

.content > .main > .field > .title::first-letter {
  color: #f0a500;
}

.content > .main > .field > .value {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: #ffffff;
}

.content.active > .main {
  transition: all ease-in-out 0.5s 0.5s;
  left: 0;
}
